body,
html {
    height: 100%;
}

body {
	background-color: #F5ECEE;
}

h2 {
	i {
		color: #484E56;
		font-weight: normal;
	}
}

.container {
    height: 100%;
	padding: 50px;

	.fa-paw {
		font-size: 40px;
		color: #4CA0B5;
	}
}

.form-group {
	textarea,
    input,
    .btn {
        border-radius: 0;
    }

	::-webkit-input-placeholder {
		color: #989797;
		font-style: italic;
	  }
	  
	  :-ms-input-placeholder { 
		color: #989797;
		font-style: italic;
	  }
	  
	  ::placeholder {
		color: #989797;
		font-style: italic;
	  }
}

.alert {
	p {
		margin: 0;
	}
}

ul.list-group {
	li.list-group-item {
		padding: 0;

		a, p {
			margin: 0;
			padding: 10px;
			display: block;
			color: black;
		}

		&:hover {
			
			&.link {
				border-bottom-color: #4CA0B5;
			}

			a {
				text-decoration: none;
				color: #4CA0B5;
			};
		}
	}
}